.auth-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 2em;
    text-align: center;
  }
  
  .auth-container label {
    display: block;
    margin-bottom: 0.5em;
  }
  
  .auth-container input {
    margin-bottom: 1em;
    width: 100%;
    padding: 0.5em;
  }
  
  .auth-container button {
    width: 100%;
    padding: 0.5em;
    margin-top: 1em;
  }
  
  
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background-color: #fff;
  padding: 1em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  z-index: 1000;
}

.modal input {
  width: 100%;
  padding: 0.5em;
  margin: 1em 0;
}

.modal button {
  padding: 0.5em;
}